<div  class="mt-4 p-5 bg-secondary text-white rounded">
    <div class="row">
        <!--    5grids, last grid-->

        <div class="col-md">

        </div>
        <div class="col-md">

        </div>
        <div class="col-md">

        </div>
        <div class="col-md">

        </div>

        <div class="col-md">
            <h1>LUCKY AIR</h1>
            <p>&copy 2024</p>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>

    </div>
</div>