<nav class="navbar navbar-expand-sm navbar-dark bg-dark header-bg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img style="width: 70px;"
                 class="rounded mx-auto d-block"
                 src="https://res.cloudinary.com/dtkzgdef1/image/upload/v1734450529/logolk_lxptkt.png"
                 alt="LUCKY AIR"> LUCKY AIR
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <h5><a class="nav-link" href="/">Trang chủ</a></h5>
                </li>
                <li class="nav-item">
                    <h5>
                        <a class="nav-link" href="/timchuyenbay">
                            {% if current_user.is_authenticated %}
                            {% if current_user.is_user() %}

                            Mua vé
                            {%endif%}
                            {%endif%}
                        </a>
                    </h5>
                </li>

                {% if current_user.is_authenticated %}
                <ul class="navbar-nav ml-auto" style="position: absolute; right: 50px">
                    <li class="nav-item">
                        <a class="nav-link text-success">
                            {% if current_user.anh_dai_dien %}
                            <img src="{{ current_user.anh_dai_dien }}" width="40" class="rounded-circle"
                                 alt="{{ current_user.name }}"/>
                            {% else %}
                            <img src="https://res.cloudinary.com/dbqaequqv/image/upload/v1710207625/samples/shoe.jpg"
                                 width="40" class="rounded-circle"
                                 alt="{{ current_user.name }}"/>
                            {% endif %}
                            Chào <span class="text-success">{{ current_user.name }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="/logout">Đăng xuất</a>
                    </li>
                </ul>

                {% else %}
                <ul class="navbar-nav ml-auto" style="position: absolute; right: 50px">
                    <li class="nav-item">
                        <a class="nav-link text-success" href="/login">Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="/register">Đăng ký</a>
                    </li>
                </ul>
                {% endif %}

                {% if current_user.is_authenticated %}
                {% if current_user.is_staff() %}
                <li class="nav-item">
                    <h5>
                        <a class="nav-link" href="/themchuyenbay">
                            Lập Lịch Bay
                        </a>
                    </h5>

                </li>
                  <li class="nav-item">
                    <h5>
                        <a class="nav-link" href="/timchuyenbay">
                            TRA CỨU
                        </a>
                    </h5>
                </li>
                 <li class="nav-item">
                    <h5>
                        <a class="nav-link" href="/dschuyenbayall">
                            BÁN VÉ
                        </a>
                    </h5>
                </li>
                {% endif %}

                {% if current_user.is_admin() %}
                <li class="nav-item">
                    <h5>
                        <a class="nav-link" href="/quydinhhethong">
                            Quy định
                        </a>
                    </h5>
                </li>
                <li class="nav-item">
                    <h5>
                        <a class="nav-link" href="/nhapthongtinbaocao">
                            Xem Thống Kê
                        </a>
                    </h5>
                </li>
                {% endif %}

                {% if current_user.is_user() %}
                <li class="nav-item">
                    <h5>
                        <a class="nav-link">Vé <span class="badge bg-danger cart-counter"
                                style="font-size: 9px;"></span></a>
                    </h5>
                </li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
