{% extends 'layout/base.html' %}

{% block content %}
<h1>Danh sách chuyến bay</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tên Chuyến Bay</th>
            <th>Mã Chuyến Bay</th>
            <th>Ngày Bay</th>
            <th>Trạng Thái</th>
            <th>Thao Tác</th> <!-- Thêm cột Thao tác -->
        </tr>
    </thead>
    <tbody>
        {% for cb in chuyen_bay_active %}
        <tr>
            <td>{{ cb.ten_chuyen_bay }}</td>
            <td>{{ cb.id }}</td> <!-- Hoặc cb.ma_cb nếu có -->
            <td>{{ cb.ngay_bay.strftime('%Y-%m-%d %H:%M:%S') }}</td> <!-- Hiển thị ngày bay với định dạng thích hợp -->
            <td>
                {% if cb.tinh_trang %}
                    Đang hoạt động
                {% else %}
                    Đã hủy
                {% endif %}
            </td>
            <td>
                <!-- Nút Xem chi tiết -->
                <a href="{{ url_for('order', chuyen_bay_id=cb.id) }}" class="btn btn-primary">Xem chi tiết</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('home') }}">Quay lại</a>
{% endblock %}
