{% extends 'layout/base.html' %}

{% block content %}

<div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dtkzgdef1/image/upload/v1734854690/background_jnuymh.jpg"
                 class="d-block w-100" alt="Banner 1">
        </div>
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/dtkzgdef1/image/upload/v1734869506/banner3_iyajct.jpg"
                 class="d-block w-100" alt="Banner 2">
        </div>
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/dtkzgdef1/image/upload/v1734868971/banner2_qbqiu2.jpg"
                 class="d-block w-100" alt="Banner 3">
        </div>
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/dtkzgdef1/image/upload/v1734869506/banner5_shj4jp.jpg"
                 class="d-block w-100" alt="Banner 4">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container mb-5">
        <h2 class="text-center mb-4">Tra cứu chuyến bay</h2>
        <form class="d-flex justify-content-center" method="POST" action="{{ url_for('tra_cuu_chuyen_bay') }}">
            <!-- Dropdown for From (Từ) -->
            <div class="input-group me-2">
                <select class="form-control" name="from" style="width: 250px;">
                    <option value="">Địa điểm đi</option>
                    {% for dia_diem in ten_dia_diem %}
                    <option value="{{ dia_diem.ten_sb }}">{{ dia_diem.ten_sb }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Dropdown for To (Đến) -->
            <div class="input-group me-2">
                <select class="form-control" name="to" style="width: 250px;">
                    <option value="">Địa điểm đến</option>
                    {% for dia_diem in ten_dia_diem %}
                    <option value="{{ dia_diem.ten_sb }}">{{ dia_diem.ten_sb }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Date input -->
            <div class="input-group me-2">
                <input class="form-control" type="date" placeholder="Ngày bay" name="date" style="width: 250px;">
            </div>

            <button class="btn btn-primary" type="submit">Tìm</button>
        </form>
    </div>

{% endblock %}
