{% extends 'layout/base.html' %}

{% block title %}Tạo Tuyến Bay{% endblock %}

{% block content %}
<h1 class="text-center text-primary mt-2">TẠO TUYẾN BAY MỚI</h1>

<form method="post" action="{{ url_for('tao_tuyen_bay') }}">
    <div class="form-group">
        <label for="san_bay_di_id">Sân Bay Đi:</label>
        <select class="form-control" id="san_bay_di_id" name="san_bay_di_id" required>
            {% for san_bay in san_bays %}
                <option value="{{ san_bay.id }}">{{ san_bay.ten_sb }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="san_bay_den_id">Sân Bay Đến:</label>
        <select class="form-control" id="san_bay_den_id" name="san_bay_den_id" required>
            {% for san_bay in san_bays %}
                <option value="{{ san_bay.id }}">{{ san_bay.ten_sb }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="khoang_cach">Khoảng Cách (km):</label>
        <input type="number" class="form-control" id="khoang_cach" name="khoang_cach" required>
    </div>
    <div class="form-group">
        <label for="thoi_gian_bay">Thời Gian Bay (phút):</label>
        <input type="number" class="form-control" id="thoi_gian_bay" name="thoi_gian_bay" required>
    </div>
    <div>
        <input type="submit" value="Lưu Tuyến Bay" class="btn btn-primary"/>
    </div>
</form>
{% endblock %}
