{% extends 'layout/base.html' %}

{% block title %}Tạo Sân Bay{% endblock %}

{% block content %}
<h1 class="text-center text-primary mt-2">TẠO SÂN BAY MỚI</h1>

<form method="post" action="{{ url_for('tao_san_bay') }}">
    <div class="form-group">
        <label for="ten_sb">Tên Sân Bay:</label>
        <input type="text" class="form-control" id="ten_sb" name="ten_sb" required>
    </div>
    <div class="form-group">
        <label for="ten_khu_vuc">Tên Khu Vực:</label>
        <input type="text" class="form-control" id="ten_khu_vuc" name="ten_khu_vuc" required>
    </div>
    <div>
        <input type="submit" value="Lưu Sân Bay" class="btn btn-primary"/>
    </div>
</form>
{% endblock %}
